.star {
  display: inline-block; 
}

.inactive, .active {
  background: transparent;
  user-select: none;
}

.inactive {
  color: grey;
}

.active {
  color: peachpuff;
}

.sbutton {
  align-items: center;
  text-align: center;
}