:root {
    --yellow: #FBE8A6;
    --peach: #F4976C;
    --dark-blue: #303C8C;
    --medium-blue: #B4DFE5;
    --light-blue: #D2FDFF;
}

.slick-prev:before,
.slick-next:before {
    font-size: 1.7rem;
    color: var(--dark-blue);
}

.slick-slide {
    padding: 0 15px;
}

.slick-list {
    margin: 0 2em;
}

#center-index, #main-text, #food-chain-header {
    text-align: center;
    outline: none;
}

#center-index h3 {
    font-family: sans-serif;
    color: var(--dark-blue)
}

#center-index img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-header {
    font-size: 3rem;
    font-family: ui-serif;
    margin-top: 50px;
    color: var(--peach);
}

#main-text {
    margin-bottom: 50px;
    color: var(--medium-blue)
}

#menu-header {
    font-size: 1.2rem;
    font-weight: 900;
}

#food-chain-carousel-container {
    width: 96%;
    margin: 0 auto;
}

#table-container {
    background-color: white;
    color: black;
    font-weight: 600;
}

a:hover {
    color: var(--light-blue);
}

.top-bar, .top-bar ul {
    background-color: var(--dark-blue);
}

#add-food-chain-btn {
    background-color: var(--peach);
}

#add-food-chain-btn:hover {
    background-color: #FF8C76;
}

.square {
    height: 380px;
    width: 450px;
}

.square img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.star-container {
    border: none;
}

.error {
    color: red;
}

div.button-center-stabilizer {
    align-items: center;
    text-align: center;
}

div.title-contents {
    text-align: center;
    text-size-adjust: 200%;
}

div.chain-div {
    padding: 30px;   
}

div.review-wrapper-div {
    border: 3px solid var(--medium-blue);
    border-radius: 20px;
    box-shadow: 5px 5px 3px var(--light-blue);
    margin-bottom: 20px;
}

div.review-div {
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
}

div.show-image-wrapper {
    text-align: center;
}

div.carousel-image-wrapper {
    text-align: center;
}

img.show-image {
    margin: 0 auto;
    max-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}

img.carousel-image {
    margin: 0 auto;
    max-height: 250px;
}

p.chain-title {
    font-size: 250%;
    font-weight: bold;
    color: var(--dark-blue);
    text-shadow: var(--medium-blue);
}

button.create-review {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border-radius: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    width: 150px;
    height: 50px;
}

button.create-review:hover {
    color: var(--light-blue);
    background-color: var(--peach);
}

#food-chain-form {
    margin: auto;
}

.callout {
    margin: 150px auto;
    background-color: #303C8C;
    color: peachpuff;
    font-size: 600;
}

label {
    font-size: 1.3rem;
    font-weight: 500;
    color: peachpuff;
}

#show-page-description {
    width: 35%;
    padding: 15px;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
}

#show-page-description li {
    list-style-type: none;
}

